<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Reset Password</title>
    </head>
    <body>

        <h1>Enter new password below</h1>

        <form action="#" th:action="@{/resetPassword}" method="POST">
            <p><label for="password">Password</label>: <input type="text" name="password" id="password"/></p>
            <p><label for="confirm">Confirm</label>: <input type="text" name="confirm" id="confirm"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>

        <p></p>
    </body>
</html>
